backend/api/private/firebase_connect.json
backend/api/private/firebase-connect.json
# Python cache
__pycache__/
*.pyc
*.pyo

# Django
*.sqlite3
.env

# Flutter/Dart
frontend/lib/firebase/google-services.json

backend/api/firebase.py